*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header2{
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;  
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #55ACEE;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
}
.hero-btn:hover{
    border: 1px solid #55ACEE;
    background: #55ACEE;
    transition: 1s;
}

/*---- services -----*/
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.service-col{
    color: #fff;
    flex-basis: 31%;
    background: rgba(4,9,30,0.7);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
/*---- types of hats -----*/
.types-hats{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.hats-col{
    color: #777;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
}
hats-col img{
    width: 100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover{
    background: rgba(4,9,30,0.7);
    transition: 1s;
}
/*---- footer -----*/
.container{
    max-width: 1170px;
    background-color: #24262b;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #55ACEE;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.5s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.page-content-product {}

.main-product {
	background-color: #09284b;
	background-image: url('../images/bg_main.jpg');
	padding-bottom: 180px;
	background-position: center center;
}

.find-box {
	max-width: 780px;
	margin: 0 auto;
	width: 100%;
	padding: 92px 0px 75px 0px;
}

.find-box h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 48px;
	text-align: center;
	padding-bottom: 22px;
}

.find-box h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 22px;
	text-align: center;
	padding-bottom: 22px;
}

.product-sh {}

.form-sh input {
	background: none;
	border: none;
	border-bottom: 1px solid #ffffff;
	width: 100%;
	min-height: 55px;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
}

.form-sh input::-webkit-input-placeholder {
	/* Chrome */
	color: #ffffff;
}

.form-sh input:-ms-input-placeholder {
	/* IE 10+ */
	color: #ffffff;
}

.form-sh input::-moz-placeholder {
	/* Firefox 19+ */
	color: #ffffff;
	opacity: 1;
}

.form-sh input:-moz-placeholder {
	/* Firefox 4 - 18 */
	color: #ffffff;
	opacity: 1;
}

.form-sh .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}

.form-sh .btn-default {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0px;
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	min-height: 55px;
}

.form-sh .open>.dropdown-toggle.btn-default:hover {
	background-color: transparent;
	color: #ffffff;
}

.form-sh .bootstrap-select .dropdown-toggle:focus {
	border: none;
	border-bottom: 1px solid #fff;
	outline: none !important;
}

.btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.form-sh .btn-default.active,
.form-sh .btn-default:active,
.form-sh .open>.dropdown-toggle.btn-default {
	background-color: transparent;
	color: #fff;
}

.form-sh .dropup .dropdown-menu,
.form-sh .navbar-fixed-bottom .dropdown .dropdown-menu {
	margin: 0px;
	border-radius: 0px;
}

.form-sh .dropdown-menu {
	margin: 0px;
	border-radius: 0px;
}

.form-sh a.btn {
	background: #1d99ff;
	color: #ffffff;
	min-height: 55px;
	width: 100%;
	line-height: 38px;
	font-size: 22px;
	font-weight: 500;
	border-radius: 3px;
}

.form-sh a.btn:hover {
	color: #fff;
	background-color: #007dea;
	border-color: #0077e0;
}

.form-sh .bootstrap-select.btn-group .dropdown-menu {
	background: #09294c;
	padding: 0px;
}

.form-sh .bootstrap-select.btn-group .dropdown-menu li a {
	color: #fff;
	padding: 10px 15px;
}

.form-sh .bootstrap-select.btn-group .dropdown-menu li a:hover,
.form-sh .bootstrap-select.btn-group .dropdown-menu li a:focus {
	background: #1d99ff;
}

.product-sh p {
	clear: both;
	margin: 0px;
	text-align: center;
	padding-top: 30px;
	color: #ddd;
	font-size: 16px;
}

.product-sh p a {
	color: #007dea;
}

.product-sh p a:hover,
.product-sh p a:focus {
	color: #007dea;
}

.box-img {
	background: #051d36;
	text-align: center;
	padding-bottom: 30px;
	height: 360px;
	margin-bottom: 30px;
	position: relative;
	border-bottom: solid #007dea 3px;
	transition: ease all 0.5s;
}

.box-img h4 {
	color: #fff;
	padding-top: 35px;
	padding-bottom: 30px;
	font-size: 25px;
	font-weight: 500;
	transition: all 0.3s ease 0s;
	letter-spacing: 0px;
}

.box-img:hover {
	cursor: pointer;
	transform: scale(1.1);
	background: #007dea;
}
.box-img-small {
	background: #051d36;
	text-align: center;
	padding: 30px;
	height: 200px;
	margin-bottom: 30px;
	position: relative;
	border-bottom: solid #007dea 3px;
	transition: ease all 0.5s;
}

.box-img-small h4 {
	color: #fff;
	padding-top: 35px;
	padding-bottom: 30px;
	font-size: 25px;
	font-weight: 500;
	transition: all 0.3s ease 0s;
	letter-spacing: 0px;
}

.box-img-small:hover {
	cursor: pointer;
	transform: scale(1.1);
	background: #007dea;
}

.food {
	position: absolute;
	right: 0px;
	top: 40%;
}

.categories_link {
	text-align: center;
	clear: both;
}

.categories_link a {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
}

.categories_link a:hover {
	color: #1d99ff;
}

/*------------------------------------------------------------- 
	5. SECTION
-------------------------------------------------------------*/

.cat-main-box {
	background: #f4f9fd;
}

.panel-row {
	margin-bottom: 60px;
}

.cat-main-box .panel {
	border-radius: 3px;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .03);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .03);
	position: relative;
	margin-top: -80px;
}

.cat-main-box .panel .panel-body {
	padding: 35px 40px;
	background: #fff;
}

.cat-main-box .panel .icon-small {
	margin-bottom: 15px;
}

.cat-main-box .panel h4 {
	color: #333;
	font-size: 22px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: 'Raleway', sans-serif;
}

.cat-main-box .panel .panel-body p {
	height: 66px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	color: #607086;
	line-height: 1.5;
}

.panel-default {
	border-color: transparent;
}

/*------------------------------------------------------------- 
	2. BASE CSS 
-------------------------------------------------------------*/


h1,
h2,
h3,
h4,
h5 {
	margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 0px;
}

ul,
ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a,
a:hover,
a:focus {
	-webkit-text-decoration: none;
	-moz-text-decoration: none;
	-ms-text-decoration: none;
	-o-text-decoration: none;
	text-decoration: none;
	transition: ease all 0.5s;
}

img {
	max-width: 100%;
	height: auto;
}

input,
textarea {
	outline: none;
	border: none;
	resize: none;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #1f4667;
  color: white;
}
.columnabout {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.containerabout {
  padding: 0 16px;
}

.containerabout::after, .rowabout::after {
  content: "";
  clear: both;
  display: table;
}
.titleabout {
  color: grey;
}